extends layout

append links
    link(rel='stylesheet', type='text/css', href='/stylesheets/contactUs.css')

block content
    .container-fluid
        .row
            #contact-header.col-12.imgc
                .overlap.d-flex.align-items-center.justify-content-center
                    .content.py-3.px-5
                        h2 MEET OUR EXPERTISE AT WORK
                        h6 We work closely with our customers to ensure compliance ahead of launch. Once everything is a go, your product will be on the market!
                .border-anime
    #contact-us.container-fluid
        .row
            .col-lg-3.col-md-6.col-sm-12.contact-child.d-flex.flex-column.justify-content-center.align-items-center.p-2.p-md-3.p-lg-4
                img(src='/svgs/064-compass.svg').mb-4
                h2 E-MAIL US
                p jagadagroupofindustries@gmail.com
            .col-lg-3.col-md-6.col-sm-12.contact-child.d-flex.flex-column.justify-content-center.align-items-center.p-2.p-md-3.p-lg-4
                img(src='/svgs/081-magic.svg').mb-4
                h2 PHONE NUMBER
                p(style='text-align:center')
                    span M. Jeyakumar&nbsp;&nbsp;&nbsp;+91 9443144719
                    br
                    span J. Deleepkumar +91 9585544719
            .col-lg-3.col-md-6.col-sm-12.contact-child.d-flex.flex-column.justify-content-center.align-items-center.p-2.p-md-3.p-lg-4
                img(src='/svgs/055-browser-1.svg').mb-4
                h2 WEBSITE
                p https://jagadagroup.com
            .col-lg-3.col-md-6.col-sm-12.contact-child.d-flex.flex-column.justify-content-center.align-items-center.p-2.p-md-3.p-lg-4
                img(src='/svgs/085-avatar.svg').mb-4
                h2 ADDRESS
                p(style='text-align:center')
                    span Jagada Industries
                    br
                    span 3/1224-6, Sattur Road,
                    br
                    span Virudhunagar - 626002, TN
    .container-fluid
        .row
            .col-12.col-md-8.offet-md-2.col-lg-6.offset-lg-3.pt-4.pb-5
                form.newsletter.px-5.w-100.py-2(style='background:whitesmoke')
                    h2.mb-3 Enquiry / Feedback Form
                    .form-group
                        label(for='contact-name') Name&#42;
                        input#contact-name.form-control(type='text', placeholder='John Doe')
                    .form-group
                        label(for='contact-address') Address&#42;
                        textarea#contact-address.form-control(rows='3')
                    .form-group
                        label(for='contact-phone') Telephone
                        input#contact-phone.form-control(type='text', placeholder='+91 90000 00000')
                    .form-group
                        label(for='contact-email') E-mail ID&#42;
                        input#contact-email.form-control(type='email', placeholder='johndoe@example.com')
                    .form-group
                        label(for='contact-comments') Comments
                        textarea#contact-comments.form-control(rows='4')
                        small.form-text &#42;Marked fields are mandatory
                    .btn-group
                        button.btn.btn-success(type='submit', value='Submit') Submit
                        button.btn.btn-primary(type='reset', value='Reset') Reset
    //- .container-fluid
        .row.about-head.d-flex.flex-column.align-items-center
            h2 LET'S WORK TOGETHER
            h3 Here at JagadaGroup, we hold a passion for innovation, brilliant ideas and the execution that brings them all together in one beautiful experience.
    //- .container-fluid.about-us
        .row
            .col-12.col-md-6.d-flex.flex-column.align-items-center
                img.mb-2.contact(src='/svgs/018-physics.svg', alt='sales contact')
                h4 SALES PERSON
                a(href='tel:+919000060000') +91-900-006-0000
                a(href='mailto:sales@lpwtechnology.com') sales@lpwtechnology.com

            .col-12.col-md-6.d-flex.flex-column.align-items-center
                img.mb-2.contact(src='/svgs/029-compass.svg', alt='business contact')
                h4 SALES PERSON
                a(href='tel:+919000060000') +91-900-006-0000
                a(href='mailto:sales@lpwtechnology.com') sales@lpwtechnology.com

    
    //- .window.d-flex.justify-content-center
        img.d-none.d-md-block.mr-4(src='/svgs/018-clipboard.svg')
        .d-flex.flex-column.align-items-center.justify-content-center
            h3 VIEW BROCHURE HERE
            a.py-2.px-4(href='#') DOWNLOAD
    

append footer
    script(type='text/javascript', src='/javascripts/contactUs.js')