link(rel='stylesheet', type='text/css', href='/stylesheets/footer.css')
.footer
    //- img.img-fluid(alt='Jagada Industry Office', src='/images/171109_06_49_10_5DSR4201.0.jpg')
    .overlap
        .container-fluid
            .row
            .row.py-3.footer-row.d-flex.justify-content-between
                ul.col-7.col-md-4.col-lg-2.p-2
                    li.gold PRODUCTS
                    each product in products
                        li
                            a(href!=product.href) #{product.text}
                ul.col-5.col-md-3.col-lg-2.p-2
                    li.gold COMPANY
                    li #[a(href='about-us') About Us]
                    li #[a(href='customers') Customers]
                    li #[a(href='press') Press]
                    li #[a(href='jobs') Jobs]
                ul.col-6.col-md-3.col-lg-2.p-2
                    li.gold RESOURCES
                    li #[a(href='resource-center') Resource Center]
                    li #[a(href='blogs') Blogs]
                ul.col-6.col-md-2.col-lg-2.p-2
                    li.gold SUPPORT
                    li #[a(href='help-center') Help Center]
                    li #[a(href='product-status') Product Status]
                    li #[a(href='support') Support]
                .col-12.col-md-7.col-lg-5.mt-3.p-0
                    form.newsletter.py-2.px-3.w-100
                        h6 Any queries?
                        p.mb-1 Keep up with the latest new in industry
                        .form-group.d-flex.flex-row
                            .input-group
                                input.form-control(type='text', placeholder='Type your query here...')
                        .form-group.d-flex.flex-row
                            .input-group
                                .input-group-prepend
                                    span.input-group-text @
                                input.form-control(type='email', placeholder='ben@example.com')
                                .input-group-append.d-md-none
                                    button.input-group-text
                                        i.fa.fa-paper-plane
                            input.btn.btn-primary.d-none.d-md-block.ml-4(type='submit', value='SEND')
                .col-lg-3.d-none.d-lg-block
                    .social-footer.d-flex.justify-content-center.h-100.align-items-center
                        a.social-icon.mr-2(href='#') #[i.fa.fa-facebook]
                        a.social-icon.ml-2(href='https://www.linkedin.com/in/deleep-kumar-504813141/', target='_blank') #[i.fa.fa-linkedin]
                        //- a.social-icon #[i.fa.fa-google-plus]
                        //- a.social-icon #[i.fa.fa-pinterest]
                ul.col-12.col-md-4.col-lg-3.p-2
                    li.gold.mb-1 CONNECT WITH US
                    li.mb-2(itemprop='telephone') #[i.fa.fa-phone.mr-3] #[a(href='tel:+919585544719') +91 9585544719]
                    li.mb-2.d-flex.flex-row.align-items-center #[i.fa.fa-address-card.mr-3]
                        address 
                            | Jagada Industries #[br]
                            | 3/1224-6, Sattur Road, #[br]
                            | Virudhunagar - 626002, TN
                    li #[i.fa.fa-envelope.mr-3]
                        a(href='mailto:jagadagroupofindustries@gmail.com') jagadagroupofindustries@gmail.com
        .container-fluid
            .row.mb-3
                //- .col
                    img(alt='English', src='/svgs/english.svg', width='28', height='21')
                //- .col
                    img(alt='French', src='/svgs/french.svg', width='28', height='21')
                //- .col
                    img(alt='German', src='/svgs/german.svg', width='28', height='21')
                //- .col
                    img(alt='Spanish', src='/svgs/spanish.svg', width='28', height='21')
                //- .col
                    img(alt='Italian', src='/svgs/italian.svg', width='28', height='21')
                #google_translate_element.col-12
        .div(height='10')
