extends layout

append links
  link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Trykker')

block content
  img#logo(src='/svgs/jagada.svg', alt='Jagada logo')
  article.px-3
    .jumbotron.jumbotron-fluid
      .container-fluid.language.d-flex.flex-column.align-items-center.p-4
        h3.estd estd 1992
        h1.display-4.pl-3.pl-md-0 jagada industries
        h2.lead.english Pioneers in Pyrotechnic & Non Ferrous Metal Powders
        //- h2.lead.french Pionniers de l'industrie des poudres non métalliques
        //- h2.lead.german Pioniere der Nichtmetallpulverindustrie
        //- h2.lead.spanish Pioneers in Non-Metal Powder Industry
        //- h2.lead.italian Pioneers in Non-Metal Powder Industry
        .video.d-flex.justify-content-center.mt-5
          i.fa.fa-play-circle
        .xtra.d-flex.flex-column.align-items-center
          a.py-2.px-5.mt-5(href='about-us') Get Started

    .container-fluid.px-5.d-none.d-md-block
      #head-points.row.p-4
        .head-point.fade-stagger.col-md-6.col-lg-3
          .head-inside
            h4
              span Global Leaders in&nbsp;
              span.salmon Industry
            p We produce non metal powders and products through Metallurgical processes and Metallurgical standards

        .head-point.fade-stagger.col-md-6.col-lg-3
          .head-inside
            h4.salmon Quality standards
            p Particle size of every powdered products are maintained throughout every process in every mesh sizes

        .head-point.fade-stagger.col-md-6.col-lg-3
          .head-inside
            h4 Why Us?
            p We guarantee for the best quality in the market with an affordable price along with a prompt delivery nationally or overseas

        .head-point.fade-stagger.col-md-6.col-lg-3
          .head-inside
            h4
              span Advanced&nbsp;
              span.salmon Instrumentation
            p Metal compositions are checked before and after alloying through OES (Optical Emission Spectroscopy)

    
    .xtra.d-flex.flex-column.align-items-center.my-3
      p Locate us at: 40° 41.23' N; 56° 11.59' W

  section.info.container-fluid

    .row.d-flex.flex-column.align-items-center.mb-4
      h2.text-center Begin your journey of Quality Products with us
      p.text-center Somethings aren't too good to be true. Experience the quality with us.

    .row.d-flex.justify-content-center.p-4
      .col-12.col-md-6.col-lg-3.d-flex.flex-column.align-items-center
        img.mb-3(src='/svgs/horse.svg', alt='cost efficiency')
        h4 Cost efficiency
        p.text-center Migrating to Docker EE containers can reduce total costs by 50% - from consolidating infrastructure to dramatically streamlining IT tasks like provisioning, scaling and applying updates.
      .col-12.col-md-6.col-lg-3.d-flex.flex-column.align-items-center
        img.mb-3(src='/svgs/001-microscope.svg', alt='level of security')
        h4 New Level of Security
        p.text-center Docker Enterprise delivers end to end security capabilities that can be applied to traditional apps to reduce the attack surface area, proactively mitigate risk and continuously monitor for vulnerabilities.
      .col-12.col-md-6.col-lg-3.d-flex.flex-column.align-items-center
        img.mb-3(src='/svgs/flask.svg', alt='level of security')
        h4 New Level of Security
        p.text-center Docker Enterprise delivers end to end security capabilities that can be applied to traditional apps to reduce the attack surface area, proactively mitigate risk and continuously monitor for vulnerabilities.


  
  section#inspired.container-fluid.p-5
    .row.d-flex
      .emulate.col-12.col-md-4.col-lg-3.d-flex.flex-column.align-items-center
        .em-circle
          span 1
          span 9
          span 9
          span 2
        .em-head mt-3 since
        .em-para We are the leading brand
      
      .emulate.col-12.col-md-4.col-lg-3.d-flex.flex-column.align-items-center
        .em-circle
          span 1
          span 9
          span 9
          span 2
        .em-head mt-3 since
        .em-para We are the leading brand
      
      .emulate.col-12.col-md-4.col-lg-3.d-flex.flex-column.align-items-center
        .em-circle.d-none.d-md-block
          span 1
          span 9
          span 9
          span 2
        .em-head.d-none.d-md-block mt-3 since
        .em-para.d-none.d-md-block We are the leading brand
      
      .emulate.col-12.col-md-4.col-lg-3.d-flex.flex-column.align-items-center
        .em-circle.d-none.d-lg-block
          span 1
          span 9
          span 9
          span 2
        .em-head.d-none.d-lg-block mt-3 since
        .em-para.d-none.d-lg-block We are the leading brand

  section.partner.container-fluid

    .row.pb-5.position-relative
      img.position-absolute.tweet.d-none.d-lg-block(src='/svgs/073-twitter.svg', alt='twitter comments')
      .col-12.col-md-6.col-lg-5
        h2.mb-4 Trusted Enterprise Partner
        h3.mb-1 Enterprise Support and Partnership
        p.mb-5 Extend existing partner relationships with integrated solutions and deep technical support for our products. Plus a global network of resellers, consulting and training partners are there to support every stage of your journey.
        h3 Trusted and Certified
        p.mb-5 Certified products deliver validated technology solutions with cooperative support for the technology that powers your business.
        a.mt-3.p-3(href='certifications') View Certifications

      .col-12.col-md-6.col-lg-7.d-none.d-sm-block
        .row.d-flex.flex-column.mt-5.ml-5
          i.fa.fa-quote-left.quotes.mb-5.d-block.ml-5
          #comments.carousel.slide.mb-5.d-block(data-ride='carousel')
            .carousel-inner
              each comment, index in comments
                .carousel-item(class=index===0?'active':'')
                  .carousel-comments
                    p #{comment.text}
          i.fa.fa-quote-right.quotes.mb-5.d-block


append footer
  script(type='text/javascript', src='/javascripts/index.js')
