doctype html
html
  head
    block google
    block metaseo
      meta(name='keywords', content='Pyrotechnic raw materials, Matières premières pyrotechniques, Materie prime pirotecniche, Materias primas pirotécnicas, Pyrotechnische Rohstoffe, Pyrotechnic powders, Poudre pyrotechnique, Polvere pirotecnica, Polvo pirotécnico, Pyrotechnisches Pulver, Magnalium, Magnalio, Polveri pirotecniche')
      title= 'Jagada Industries'
      meta(name='description', content='Pyrotechnic raw materials')
      meta(name='robots', content='index,follow')
      meta(name='google-site-verification', content='0FXslA1jM76Ttnn9hSorquOcbioj5ebg2V3_HN6VXBc')
    block links
      link(rel='stylesheet', type='text/css', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed')
      link(rel='stylesheet', href='/stylesheets/global.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href ='/stylesheets/layout.css')
  body
    script(type='text/javascript').
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'de,en,es,fr,it', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
    script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
    .container-fluid.position-fixed
        .row.decorator
    include menu
    .page.w-100
      header
        block header
      block content
      footer
        block footer
          include footer
          script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.js')
          script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js')
          script(type='text/javascript', src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
          script(type='text/javascript', src='/javascripts/master.js')
    //- i#ham-burger.fa.fa-bars.fa-2x
    #menu-button.d-flex.flex-column.align-items-center.justify-content-around.py-2
      span.mb-1
      span.mb-1
      span

    block scripts
