link(rel='stylesheet', type='text/css', href='/stylesheets/menu.css')
nav.row.no-gutters.d-flex
    .col
    #menu-holder.col-9.col-sm-8.col-md-6.col-lg-4.col-xl-3.d-flex.align-items-center
        ul.menu.w-100
            each opt in menu
                li.py-3
                    a(href!=opt.href, style="color:#fff") #{opt.name}