extends layout

append links
    link(rel='stylesheet', type='text/css', href='/stylesheets/researchDev.css')

block content
    //- .container-fluid
        
    .container-fluid.rnd
        #r1.row
            #c1.col-12.col-lg-8.imgc
                .overlap
            #c2.col-12.col-lg-4.imgc.d-none.d-lg-block
                .container-fluid.h-100
                    #r5.row.d-flex.align-content-around.flex-wrap.h-100
                        .d-flex.justify-content-center.p-2
                            span.d-flex.justify-content-center
                                img#i1(src='/svgs/002-flask.svg')
                        .d-flex.justify-content-center.p-2
                            span.d-flex.justify-content-center
                                img#i2(src='/svgs/006-molecule.svg')
                        .d-flex.justify-content-center.p-2
                            span.d-flex.justify-content-center
                                img#i3(src='/svgs/008-alarm-clock.svg')
                        .d-flex.justify-content-center.p-2
                            span.d-flex.justify-content-center
                                img#i4(src='/svgs/012-test-tubes.svg')
                        .d-flex.justify-content-center.p-2
                            span.d-flex.justify-content-center
                                img#i5(src='/svgs/018-clipboard.svg')
                        .d-flex.justify-content-center.p-2
                            span.d-flex.justify-content-center
                                img#i6(src='/svgs/020-blackboard-1.svg')
        .row.about-head.d-flex.flex-column.align-items-center
            h2 BRINGING-TO-LIFE A GENERATION OF MATERIALS FOR UNIQUE AND INNOVATIVE PRODUCTS
            h3 We hold a passion for innovation, brilliant ideas and the execution that brings them all together in one beautiful experience.
        #r2.row
            #c3.col-12.col-lg-5.p-0
                .container-fluid
                    #r3.row
                        #c4.col-12.imgc
                            .overlap.p-2.p-md-3.p-lg-4.d-flex.flex-column.justify-content-around
                                .overlap-inner.w-100.p-2.p-md-3.p-lg-4
                                    h2 Powder Range
                                    p PowderRange is a comprehensive range of premium quality off-theshelf powders and bespoke materials made to your specification based on pure metals, alloys, machine type, application and research needs. We employ a range of techniques including Inert Gas Atomisation, Vacuum Inert Gas Atomisation, Plasma Atomisation and Plasma Spheroidisation to develop powders for LMD (Laser Metal Deposition), SLM (Selective Laser Melting) and EBM (Electron Beam Melting).
                                span.py-3.px-5
                                    a.learn-more.link-button.py-3.px-5(href='#') LEARN MORE
                        #c5.col-12.imgc
                            .overlap.p-2.p-md-3.p-lg-4.d-flex.flex-column.justify-content-around
                                .overlap-inner.w-100.p-2.p-md-3.p-lg-4
                                    h2 Powder Lab
                                    p Whether on a standard or custom material, pre-build or after several uses in an AM machine, LPW off ers an extensive range of powder testing services. In addition to testing powders, LPW can off er further services on AM components, including testing and analysis of solid samples, whether as a part of component validation or a root-cause analysis of a failed build.
                                span.py-3.px-5
                                    a.learn-more.link-button.py-3.px-5(href='#') LEARN MORE
            #c6.col-12.col-lg-7.p-0
                .container-fluid
                    #r4.row
                        #c7.col-6.imgc
                            .overlap.p-2.p-md-3.p-lg-4.d-flex.flex-column.justify-content-around
                                .overlap-inner.w-100.p-2.p-md-3.p-lg-4
                                    h2 Powder Hub
                                    p If you are looking for a partner to advise on the correct powders, processes and parameters for specific machines and applications, provide early access to research findings or investigate build issues, our PowderHub team can work with you in strictest confidence.
                                span.py-3.px-5
                                    a.learn-more.link-button.py-3.px-5(href='#') LEARN MORE
                        #c8.col-6.imgc
                            .overlap
                        #c9.col-12.imgc.d-flex.flex-column.justify-content-center.align-items-center.p-md-5(style="color:#fff")
                            h2 Our place in global market
                            p Our Magnalium & Magnesium powders have better flammability and brightness while compared to Chinese Magnalium or Magnesium. We prepare Magnalium powders and Magnesium powders using Vigrin Magnesium and Virgin Aluminum as raw materials.
                            a.link-button.py-3.px-5(href='#') EXPLORE MORE
                        #c10.col-12.imgc
                            .overlap.p-2.p-md-3.p-lg-4.d-flex.flex-column.justify-content-around
                                .overlap-inner.w-100.p-2.p-md-3.p-lg-4
                                    h2 Plasma Spheroidised Powders
                                    p At LPW we have a high level of expertise in Additive Manufacturing (AM) and a long experience of working with leading companies within the aerospace, biomedical, and automotive industries. We utilise this knowledge and the capabilities of plasma technology to produce highly spherical and low contamination powders
                                span.py-3.px-5
                                    a.learn-more.link-button.py-3.px-5(href='#') LEARN MORE
        #r6.row
            .col-12.d-flex.flex-column.align-items-center.justify-content-center.p-md-5
                p A short video comparing the quality and luminance of Chinese Magnalium and our Magnalium product
                .video.d-flex.justify-content-center
                    i.fa.fa-play-circle

append footer
    script(type='text/javascript', src='/javascripts/researchDev.js')