@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';
@import './global.scss';

#contact-header {
    background-image: url('../images/garage-hanging-mechanic-162553.jpg');
    min-height: 30vw;
    // filter: grayscale(20%) blur(1px);
    // &:hover {
    //     filter: grayscale(35%) blur(2px);
    // }
}

.content {
    background: rgba(255,255,255,0.65);
    border-radius: 5px;
    h2, h6 {
        text-align: center;
    }
}

.border-anime {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    transition: .3s all;
    &:hover {
        border: double 2px #FFF;
        top: 1rem;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
    }
}

.contact-child {
    min-height: 35vw;
    img {
        width: 4.5rem;
        height: 4.5rem;
    }
    h2 {
        font: 1.25rem/150% Roboto, sans-serif;
    }
    &:first-child {
        color:#3a3a3a;
        background: whitesmoke;
    }
    &:nth-child(2) {
        color:#3a3a3a;
        background: orange;
    }
    &:nth-child(3) {
        color: orange;
        background: #222;
    }
    &:nth-child(4) {
        color:#FFF;
        background: grey;
    }
}

@include media-breakpoint-down(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {
    
}
