@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';

address {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.footer {
    background-image: url(../images/171109_06_49_10_5DSR4201.0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    * {
        color: #FFF;
        font-size: 14px;
    }
    .input-group-prepend>.input-group-text {
        color: grey !important;
    }
    button.input-group-text {
        background: #007bff;
    }
    &>img {
        filter: grayscale(70%) contrast(60%) brightness(140%);
    }
    &>.overlap {
        position: relative;
        background: rgba(0,0,0,0.55);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    a {
        text-transform: capitalize;
    }
}

.newsletter {
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    input[type=submit] {
        font-size: .85rem;
        font-weight: 700px;
    }
}

.gold {
    color: gold;
}

.social-footer {
    width: 100%;
    i {
        color: black;
        font-size: 30px;
        line-height: 45px;
    }
}
.social-icon {
    width: 45px;
    height: 45px;
    background: rgba(255,255,255,0.65);
    border-radius: 100px;
    text-align: center;
}
@include media-breakpoint-up(xl) {
    .footer-row {
        padding: 0 10rem;
    }
}

@include media-breakpoint-up(md) {
    .footer-row {
        padding: 0 4rem;
    }
}

@include media-breakpoint-down(sm) {
    .footer-row {
        padding: 0 1rem;
    }
}