@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';
$coquelicot: #E93700;
$pale-black: #445D6E;
.text-center {
    text-align: center;
}

.salmon {
    color: salmon;
}

.page {
    background: #FFF;
}

@include media-breakpoint-down(sm) {
    #logo {
        width: 10rem;
        height: 10rem;
        position: absolute;
        top: -2rem;
        left: -2rem;
        z-index: 100;
    }
}

@include media-breakpoint-up(md) {
    #logo {
        width: 15rem;
        height: 15rem;
        position: absolute;
        top: -3rem;
        left: -3rem;
        z-index: 100;
    }
}

article {
    background-image: url(../images/89037944.jpg);
    background-repeat: no-repeat;
    filter: grayscale(20%);
    background-size: cover;
    h1,
    h2,
    .video {
        color: #FFF;
    }
    .fa-play-circle {
        cursor: pointer;
    }
}

.jumbotron {
    background: transparent;
    @include media-breakpoint-down(sm) {
        .display-4 {
            text-transform: uppercase; // font-family: Roboto, sans-serif;
            // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
            font-size: 30px;
            color: #FFF;
        }
        &>.container {
            position: relative;
            top: 3rem;
        }
    }
    @include media-breakpoint-only(md) {
        .display-4 {
            text-transform: uppercase;
            font-family: Roboto, sans-serif;
            font-size: 70px;
            color: #FFF;
        }
        &>.container {
            position: relative;
            top: 3rem;
        }
    }
    @include media-breakpoint-up(lg) {
        .display-4 {
            text-transform: uppercase;
            font-family: Roboto, sans-serif;
            font-size: 100px;
            color: #FFF;
        }
        &>.container {
            position: relative;
            top: 3rem;
        }
    }
    h2.lead {
        margin-left: 1rem;
        font-size: 1.75rem;
    }
    @include media-breakpoint-down(md) {
        padding-bottom: 1rem;
    }
    @include media-breakpoint-up(lg) {
        padding-bottom: 4rem;
    }
}

.video {
    i {
        font-size: 60px;
    }
}

.catchy {
    b,
    p {
        color: #FFF;
        font-family: 'Roboto', sans-serif;
    }
}

.xtra {
    a {
        background: $coquelicot;
        color: #FFF;
        height: 44px;
        border-radius: 22px;
        transition: all .3s;
        &:hover {
            text-decoration: none;
            box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.15);
        }
    }
    p {
        color: #FFF;
    }
}

@include media-breakpoint-down(md) {
    .xtra {
        margin-bottom: 2rem;
    }
}

#head-points {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

.head-point {
    @include media-breakpoint-up(lg) {
        h4 {
            font: 22px/150% Roboto, sans-serif;
            color: #FFF;
        }
        p {
            font: 16px/150% Roboto, sans-serif;
            color: #FFF;
        }
    }
    @include media-breakpoint-only(md) {
        h4 {
            font: 18px/150% Roboto, sans-serif;
            color: #FFF;
        }
        p {
            font: 14px/150% Roboto, sans-serif;
            color: #FFF;
        }
    }
}

.em-circle {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid #ffb606;
    text-align: center;
    line-height: 150px;
    color: #ffb606;
    font-weight: 600;
    font-size: 30px;
}

.em-head {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.em-para {
    color: grey;
    font-size: 14px;
}

.gold {
    color: gold;
}

.coquelicot {
    color: $coquelicot;
}

.info {
    @include media-breakpoint-down(sm) {
        &>.row:first-child {
            padding: 1rem;
        }
    }
    @include media-breakpoint-only(md) {
        &>.row:first-child {
            padding: 4rem;
        }
    }
    @include media-breakpoint-up(lg) {
        &>.row:first-child {
            padding: 7rem;
        }
    }
    h2 {
        font-family: 'Roboto', sans-serif;
        color: $pale-black;
        font-size: 24px;
        font-weight: bold;
    }
    h4 {
        color: $pale-black;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        line-height: 24px;
        color: $pale-black;
        font-family: 'Roboto Condensed', sans-serif;
    }
    img {
        width: 10rem;
        height: 10rem;
    }
}

.partner {
    // background: linear-gradient(45deg, rgba(19,60,85,1) 0%, rgba(129,164,205,1) 100%);
    background: rgba(19, 60, 85, 1);
    color: #FFF;
    h3 {
        font-size: 1.5rem;
    }
    @include media-breakpoint-up(lg) {
        &>.row {
            padding: 7.5rem;
        }
    }
    @include media-breakpoint-down(md) {
        &>.row {
            padding: 3rem;
        }
    }
    @include media-breakpoint-only(xs) {
        &>.row {
            padding: 1rem;
        }
    }
    a {
        color: #FFF;
        border-radius: 3px; // background: rgba(0,0,0,0.5);
        background: #E93700;
        &:hover {
            text-decoration: none;
            box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.1);
        }
    }
}

.tweet {
    right: 1.5rem;
    top: 1.5rem;
    width: 5rem;
    height: 5rem;
}

.quotes {
    font-size: 30px;
    color: $coquelicot;
    line-height: 30px
}