.text-center {
  text-align: center; }

.salmon {
  color: salmon; }

article {
  background-image: url(../images/89037944.jpg);
  background-repeat: no-repeat;
  filter: grayscale(20%);
  background-size: cover; }
  article h1,
  article h2,
  article .video {
    color: #FFF; }
  article .fa-play-circle {
    cursor: pointer; }

.jumbotron {
  background: transparent; }
  .jumbotron .display-4 {
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: 100px;
    color: #FFF; }
  .jumbotron h2.lead {
    margin-left: 1rem;
    font-size: 1.75rem; }
  @media (max-width: 991.98px) {
    .jumbotron {
      padding-bottom: 1rem; } }
  @media (min-width: 992px) {
    .jumbotron {
      padding-bottom: 4rem; } }

.video i {
  font-size: 60px; }

.catchy b,
.catchy p {
  color: #FFF;
  font-family: 'Roboto', sans-serif; }

.xtra a {
  background: #E93700;
  color: #FFF;
  height: 44px;
  border-radius: 22px;
  transition: all .3s; }
  .xtra a:hover {
    text-decoration: none;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.15); }

.xtra p {
  color: #FFF; }

#head-points {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 5px; }

@media (min-width: 992px) {
  .head-point h4 {
    font: 22px/150% Roboto, sans-serif;
    color: #FFF; }
  .head-point p {
    font: 16px/150% Roboto, sans-serif;
    color: #FFF; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .head-point h4 {
    font: 18px/150% Roboto, sans-serif;
    color: #FFF; }
  .head-point p {
    font: 14px/150% Roboto, sans-serif;
    color: #FFF; } }

.em-circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 1px solid #ffb606;
  text-align: center;
  line-height: 150px;
  color: #ffb606;
  font-weight: 600;
  font-size: 30px; }

.em-head {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px; }

.em-para {
  color: grey;
  font-size: 14px; }

.gold {
  color: gold; }

.coquelicot {
  color: #E93700; }

@media (max-width: 767.98px) {
  .info > .row:first-child {
    padding: 1rem; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .info > .row:first-child {
    padding: 4rem; } }

@media (min-width: 992px) {
  .info > .row:first-child {
    padding: 7rem; } }

.info h2 {
  font-family: 'Roboto', sans-serif;
  color: #445D6E;
  font-size: 24px;
  font-weight: bold; }

.info h4 {
  color: #445D6E;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif; }

.info p {
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  color: #445D6E;
  font-family: 'Roboto Condensed', sans-serif; }

.info img {
  width: 10rem;
  height: 10rem; }

.partner {
  background: #133c55;
  color: #FFF; }
  .partner h3 {
    font-size: 1.5rem; }
  @media (min-width: 992px) {
    .partner > .row {
      padding: 7.5rem; } }
  @media (max-width: 991.98px) {
    .partner > .row {
      padding: 3rem; } }
  @media (max-width: 575.98px) {
    .partner > .row {
      padding: 1rem; } }
  .partner a {
    color: #FFF;
    border-radius: 3px;
    background: #E93700; }
    .partner a:hover {
      text-decoration: none;
      box-shadow: 0px 0px 25px 10px rgba(255, 255, 255, 0.1); }

.quotes {
  font-size: 30px;
  color: #E93700;
  line-height: 30px; }

/*# sourceMappingURL=index.css.map */