ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#logo {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: -3rem;
    left: -3rem;
    z-index: 100;
}

.page {
    position: absolute;
    top: 0;
    background: #FFF;
}

.fa-bars {
    position: fixed;
    top: 20px;
    right: 20px;
    color: steelblue;
}

.carousel {
    img {}
}