ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page {
    position: absolute;
    top: 0;
    transition: all .3s;
    // background: #FFF;
}
.page.active {
    transform-origin: top left;
}

.decorator {
    background-image: url(../images/crafted_splash.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa-bars {
    position: fixed;
    top: 20px;
    right: 20px;
    color: steelblue;
}

.carousel {
    img {}
}

#menu-button {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 100;
    border-radius: 3px;
    transform: none;
    transition: all .5s ease-out;
    transition-delay: .3s;
    & > span {
      transition: all .3s ease-out;
      width: 30px;
      height: 4px;
      border-radius: 2px;
      background: #FFF;
    }
    &>span:nth-child(2) {
      transform: translateX(5px);
    }
    &.active {
      // transform: translateX(-25vw);
      transform: rotateY(180deg);
      transition: all 0.5s ease-in;
      transition-delay: .3s;
      span {
        // transition-delay: .5s;
        transition: all 0.3s ease-in;
      }
      span:first-child {
        transform: translateX(-8px) translateY(14px) rotateZ(45deg);
        width: 17px;
      }
      span:nth-child(2) {
        transform: none;
      }
      span:last-child {
        transform: translateX(-8px) translateY(-14px) rotateZ(-45deg);
        width: 17px;
      }
    } 
  }