@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';
@import './layout.scss';
$prussian-blue: #133C55;
$dark-pastel-blue: #81A4CD;
.parallel-base {
    position: relative;
    &>img {
        height: 75vw;
    }
}

.parallel-text {
    position: absolute;
    color: #FFF;
    text-shadow: 0 0 30px rgba(0, 0, 0, 1);
    text-align: center;
    top: 1rem;
    font-size: 18px;
}

.about-head {
    padding: 4rem 0.25rem;
}

.about-head {
    background: transparent;
    h2 {
        font: 15px/150% $heading;
        color: #FFF;
        text-align: center;
    }
    h3 {
        font: 13px/150% $heading;
        color: #FFF;
        text-align: center;
    }
}

// @include media-breakpoint-down(sm) {}
@include media-breakpoint-up(md) {
    .parallel-base>img {
        height: 40vw;
    }
    .about-head {
        padding: 7rem;
    }
}

@include media-breakpoint-up(lg) {
    .parallel-base>img {
        height: 25vw;
    }
    // .about-head {
    //     padding: 10rem;
    // }
}