@import '../../node_modules/bootstrap/scss/_functions.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '../../node_modules/bootstrap/scss/mixins/_breakpoints.scss';
@import './global.scss';
@import './layout.scss';
.about-head {
    background: transparent;
    h2 {
        font: 15px/150% $heading;
        color: #FFF;
        text-align: center;
    }
    h3 {
        font: 13px/150% $heading;
        color: #FFF;
        text-align: center;
    }
}

@include media-breakpoint-down(sm) {
    .about-head {
        padding: 7rem 0.25rem;
    }
}

@include media-breakpoint-up(md) {
    .about-head {
        padding: 10rem;
    }
}

@include media-breakpoint-up(lg) {
    .about-head {
        padding: 15rem;
    }
}

img.col-6 {
    width: 5rem;
    height: 5rem;
}

.overlap {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: .3s all;
    overflow-y: hidden;
    .learn-more {
        // transform: translateY(50%);
        position: relative; // top: 10rem;
        transition: all .3s;
    }
    &:hover {
        .learn-more {
            // transform: translateY(0);
        }
        background-color: rgba(0, 0, 0, 0.55);
    }
}

.overlap-inner {
    border-radius: 5px;
    p {
        text-indent: 1.5rem;
    }
}

#c1 {
    background-image: url(/images/tubitos.jpg);
    & .bg-div {
        background: rgba(0,0,0,.55);
        display: inline-block;
        padding: 1rem 3rem;
        border-radius: 2px;
    }
    h2, li,
    p {
        color: #FFF;
    }
    ul {
        margin-left: 1rem;
    }
}

#c4 {
    background-image: url(/images/f_7f6fec49c82b6f7583d11e5b0dd7740f.jpg);
    .overlap-inner {
        background: rgba(255, 255, 255, 0.65);
    }
}

#c7 {
    background-image: url(/images/abundance-bookcase-books-775998.jpg);
    .overlap-inner {
        background: rgba(0, 0, 0, 0.6);
    }
    h2,
    p {
        color: #FFF;
    }
}

#c5 {
    background-image: url(/images/architecture-berlin-building-164313.jpg);
    .overlap-inner {
        background: rgba(0, 0, 0, 0.75);
    }
    h2,
    p {
        color: #FFF;
    }
}

#c8 {
    background-image: url(/images/blank-page-blur-close-up-949218.jpg);
}

#c9 {
    transition: all .3s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

#c10 {
    // background-image: url(/images/blank-page-blur-close-up-949218.jpg);
    background-image: url(/images/busy-glassware-job-266141.jpg);
    .overlap-inner {
        background: rgba(0, 0, 0, 0.4);
    }
    h2,
    p {
        color: #FFF;
    }
}

#r5 {
    padding: 1rem 0;
    div {
        flex: 0 0 50%;
        width: 7rem;
        min-height: 7rem;
        span {
            background: rgba(0, 0, 0, 0.1);
            width: 7rem;
            height: 7rem;
            border-radius: 3.5rem;
            padding: 1.25rem;
        }
    }
    img {
        width: 4.5rem;
        height: 4.5rem;
    }
}

#r6 {
    div {
        height: 30vw;
    }
    p {
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
}

#c1,
#c2 {
    min-height: 30vw;
}

#c2 {
    background: whitesmoke;
}

#c4,
#c5 {
    min-height: 50vw;
}

#c7,
#c8 {
    min-height: 40vw;
}

#c9,
#c10 {
    min-height: 30vw;
}

.video {
    color: #FFF;
}
.fa-play-circle {
    cursor: pointer;
    font-size: 50px;
}