@font-face {
  font-family: 'Adam cg Pro';
  src: url("../fonts/ADAM.CG_PRO.otf"); }

@font-face {
  font-family: 'Pier Sans';
  src: url("../fonts/PierSans-Regular.otf"); }

@font-face {
  font-family: 'Helvetica Neue Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Medium"), url("../fonts/HelveticaNeueMedium.woff") format("woff"); }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a:hover {
  text-decoration: none; }

.page {
  position: absolute;
  top: 0;
  transition: all .3s; }

.page.active {
  transform-origin: top left; }

.decorator {
  background-image: url(../images/crafted_splash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; }

.fa-bars {
  position: fixed;
  top: 20px;
  right: 20px;
  color: steelblue; }

#menu-button {
  position: fixed;
  padding: .5rem;
  background-color: rgba(0, 0, 0, 0.5);
  top: 1.5rem;
  right: 1.5rem;
  z-index: 100;
  border-radius: 3px;
  transform: none;
  transition: all .5s ease-out;
  transition-delay: .3s; }
  #menu-button > span {
    transition: all .3s ease-out;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: #FFF; }
  #menu-button > span:nth-child(2) {
    transform: translateX(5px); }
  #menu-button.active {
    transform: rotateY(180deg);
    transition: all 0.5s ease-in;
    transition-delay: .3s; }
    #menu-button.active span {
      transition: all 0.3s ease-in; }
    #menu-button.active span:first-child {
      transform: translateX(-8px) translateY(14px) rotateZ(45deg);
      width: 17px; }
    #menu-button.active span:nth-child(2) {
      transform: none; }
    #menu-button.active span:last-child {
      transform: translateX(-8px) translateY(-14px) rotateZ(-45deg);
      width: 17px; }

.about-head {
  background: transparent; }
  .about-head h2 {
    font: 15px/150% "Adam cg Pro", "Pier Sans", sans-serif;
    color: #FFF;
    text-align: center; }
  .about-head h3 {
    font: 13px/150% "Adam cg Pro", "Pier Sans", sans-serif;
    color: #FFF;
    text-align: center; }

@media (max-width: 767.98px) {
  .about-head {
    padding: 7rem 0.25rem; } }

@media (min-width: 768px) {
  .about-head {
    padding: 10rem; } }

@media (min-width: 992px) {
  .about-head {
    padding: 15rem; } }

.about-us .row:first-child > div:first-child {
  background-color: #133C55;
  padding: 5rem 0; }
  .about-us .row:first-child > div:first-child h4,
  .about-us .row:first-child > div:first-child a,
  .about-us .row:first-child > div:first-child p {
    color: #FFF; }

.about-us .row:first-child > div:nth-child(2) {
  padding: 5rem 0;
  background-color: whitesmoke; }
  .about-us .row:first-child > div:nth-child(2) h4,
  .about-us .row:first-child > div:nth-child(2) a {
    color: #444; }

.about-us .contact {
  width: 7.5rem;
  height: 7.5rem; }

.map {
  height: 40vw;
  background-image: url(/images/crafted_map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.window img {
  width: 5rem;
  height: 5rem; }

.window h3,
.window a {
  font: 15px/150% "Helvetica Neue Medium", sans-serif;
  color: #FFF; }

.window a {
  border: solid 2px #FFF;
  transition: .3s all;
  background: transparent; }
  .window a:hover {
    text-decoration: none;
    color: #133C55;
    background: white; }

@media (max-width: 767.98px) {
  .window {
    padding: .5rem 1.5rem; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .window {
    padding: 3rem; } }

@media (min-width: 992px) {
  .map {
    height: 25vw; }
  .window {
    padding: 5rem; } }

/*# sourceMappingURL=aboutUs.css.map */